header {
    display: flex;
    flex-direction: row;
    width: auto;
    

}

.first {
    display: flex;
    justify-content: flex-start;
    
}

.second {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
}

.search {
    height: 30px;
    width: 1000px;
    border: 2px solid #000;
    align-items: center ;
}

.first a {
    margin-left: 10px;
}

.second a {
    margin-left: 10px;
}

.second img {
    margin-left: 10px;
}