<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <meta charset="utf8">
  <title>Hello, world</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <h1>첫 번째 입력: {{ message1 }} </h1>
  <input type="text" v-model="message1">

  <h1>두 번째 입력: {{ message2 }} </h1>
  <input type="text" v-model="message2">

  <h1>합산 입력: {{ message1 }} {{ message2 }}</h1>
</div>

<script type="text/javascript" src="day01_homework2_skeleton.js">

</script>

</body>
